flows_crapanzano-pc.json
[{"id":"e50bc70f.6709e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71d90b80.0b3424","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"67d5c51e.254cec","type":"inject","z":"e50bc70f.6709e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["9aa59c0.a4e3968"]]},{"id":"9aa59c0.a4e3968","type":"debug","z":"e50bc70f.6709e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":100,"wires":[]},{"id":"83de573e.cf9918","type":"inject","z":"71d90b80.0b3424","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":60,"wires":[["96c593e1.0df67"]]},{"id":"96c593e1.0df67","type":"debug","z":"71d90b80.0b3424","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":40,"wires":[]}]